<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127746487274-vgqhan2ked7gutl6004cuega7m6a7gvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127746487274-vgqhan2ked7gutl6004cuega7m6a7gvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDjELnjlU4OXU0NQbeuOQ_JDMlzpWnxeYk</string>
	<key>GCM_SENDER_ID</key>
	<string>127746487274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flappypip</string>
	<key>PROJECT_ID</key>
	<string>flappypip-cbd1d</string>
	<key>STORAGE_BUCKET</key>
	<string>flappypip-cbd1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127746487274:ios:c3c9d6a3c5727fedc3f893</string>
	<key>DATABASE_URL</key>
	<string>https://flappypip-cbd1d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>